body {
    font-size: 28px;
     }
ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: darkslategrey;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
        } 
li { 
    float: left; 
    } 
li a {
    display: block;
    color: white;
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    }
li a:hover { 
    background-color: darkgrey;
    }
.active { 
    background-color: dodgerblue; 
        } 

.capacontenedora{
    height: 300px;
    position: relative;       
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }
.prueba1{
    width: 50%;
    height: 300px;
    float: left;
    border: 3px solid black;
}
.prueba2{
    width: 40%;
    height: 300px;
    float: left;
}
.prueba1verde{
    width: 39%;
    float: left;
    height: 250px;
    background-color: green;
    border: 3px solid black;
}
.prueba1amar{
    width: 58%;
    float: left;
    height: 250px;
    background-color: yellow;
    border: 3px solid black;
}
.prueba1azul{
    height: 297px;
    width: 20%;
    background-color: blue;
    border: 2px solid black;
}

